
.order {
}

.order-topbar {
    display: flex;
    justify-content: space-between;
}

.order-topbar h1 {
    font-weight: 400;
    color: gray;
}

.order-topbar button {
    outline: none;
    border: none;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.order-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    margin-top: 2rem;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.233);
}
.order-tabs .order-tabs-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-tabs p {
    margin-right: 2rem;
    color: gray;
    font-weight: 400;
    cursor: pointer;
    font-size: 0.8rem;
}

.search-order {
    padding: 10px;
    width: 350px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    font-size: 1.2rem;
    background: transparent;
}

.order-time {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: lightgray;
}


.order-card {
    margin-top: 1rem;
    width: 100%;
    height: 100px;
    box-shadow: 2px 3px 10px rgba(128, 128, 128, 0.233);
    transition: height 1s;
}

.o-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.o-topbar .otb-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ot-img {
    margin-left: 130px;
    height: 70px;
    width: 70px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.otb-1 {
    margin-left: 3rem;
    font-size: 1.2rem;
    color: gray;
    font-weight: 400;
}

.otb-process {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.otb2 {
    width: 20px;
    height: 20px;
    background: skyblue;
    border-radius: 50%;
}

.otb3 {
    font-size: 0.6rem;
    margin-top: 5px;
    text-transform: uppercase;
    color: skyblue;
}

.otb-time {
    margin-left: 150px;
    font-size: 0.8rem;
    text-align: center;
}

.otb-price {
    font-size: 1.4rem;
    color: gray;
    margin-right: 50px;
    
}

.o-bottombar {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 1.5rem;
    width: 100%;
    display: none;
}

.obb-left {
    display: flex;
    align-items: center;
}

.obb-l-img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.obb-heading {
    margin-left: 2rem;
    font-size: 1rem;
    color: gray;
    font-weight: 400;
}

.obb-quantity {
    height: 30px;
    width: 30px;
    display: inline-flex;
    color: white;
    background: seagreen;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.obb-bl-n {
    font-size: 0.8rem;
}

.obb-h {
    font-size: 1.1rem;
    color: gray;
    margin: 10px 0;
}

.obb-email-id, .obb-s-id, .obb-tl-id {
    font-size: 0.8rem;
    cursor: pointer;
}