
.order {
}

.order-topbar {
    display: flex;
    justify-content: space-between;
}

.order-topbar h1 {
    font-weight: 700;
    color: black;
}

.order-topbar button {
    outline: none;
    border: none;
    padding: 0px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

/* .order-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    margin-top: 2rem;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.233);
}
.order-tabs .order-tabs-desc > button{
    outline: none;
    border: none;
    padding: 7px 10px ;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}

.order-tabs p {
    margin-right: 2rem;
    color: gray;
    font-weight: 400;
    cursor: pointer;
    font-size: 0.8rem;
} */


.order-tabs-desc {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 2rem;
}

.order-tabs-desc div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.order-tabs-desc div button {
    background: none;
    font-size: 0.8rem;
    border: none;
    outline: none;
    margin-top: 1rem;
}


.order-tabs-desc div > span {
    display: flex;
    background: lightgray;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.order-tabs-desc::after {
    content: "";
    width: 98%;
    height: 4px;
    background: lightseagreen;
    position: absolute;
    top: 12px;
    left: 0;
    z-index: -10;
    margin-left: 1rem;
}

.search-order {
    padding: 10px;
    width: 100%;
    min-height: 60px;
    margin-top: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    font-size: 1.2rem;
    background: transparent;
}

.order-time {
    font-size: 2rem;
    font-weight: 400;
    color: lightgray;
}


.order-card {
    width: 100%;
    height: 80px;
    box-shadow: 2px 3px 10px rgba(128, 128, 128, 0.233);
    transition: all 1s;
    overflow: hidden;
}

.o-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.o-topbar .otb-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ot-img {
    margin-left: 3rem;
    height: 70px;
    width: 60px;
    padding: 0.5rem;
    border: 1px solid #0067B0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-invoice-n {
    width: 100px;
}

.otb-1 {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    width: 50px;
}

.otb-process {
    margin-left: 2rem;
    width: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cc-name {
    width: 150px;
    margin-left: 1rem;
}
.cc-phone-n {
    width: 105px;
}

.otb2 {
    width: 20px;
    height: 20px;
    background: #0067B0;
    border-radius: 50%;
}

.otb3 {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: #0067B0;
    width: 70px;
}

.otb-time {
    margin-left: 3rem;
    font-size: 0.8rem;
    text-align: center;
}

.otb-price {
    font-size: 1.4rem;
    color: #0067B0;
    width: 110px;
    
}

.otb-tt-pay {
    width: 170px;
    text-align: left;
    font-size: 0.8rem;
}

.otb-bkash-trx-id {
    font-size: 0.8rem;
    width: 180px;
}

.otb-note-box {
    width: 200px;
    text-align: center;
    font-size: 0.8rem;
}

.o-bottombar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 3rem 4rem;
    width: 100%;
    transition: opacity 1s;
    position: relative;
}

.obb-left {
    display: flex;
    align-items: center;
}

.obb-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 2rem 1rem;
}

.obb-l-img {
    height: 100px;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.obb-heading {
    margin-left: 2rem;
    font-size: 1rem;
    color: gray;
    font-weight: 400;
}

.obb-quantity {
    height: 30px;
    width: 30px;
    display: inline-flex;
    color: white;
    background: seagreen;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.obb-bl-n {
    font-size: 0.8rem;
}

.obb-h {
    font-size: 1.1rem;
    color: gray;
    margin: 10px 0;
}

.obb-email-id, .obb-s-id, .obb-tl-id {
    font-size: 0.8rem;
    cursor: pointer;
    position: relative;
}

.obb-shipping-address {
    position: relative;
}

.obb-billing-address, .obb-telephone, .obb-email, .obb-shipping-address{
    position: relative;
    width: 400px;
}

.ed-bill-btn {
    position: absolute;
    top: 0.5rem;
    left: 8rem;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.ed-phone-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    top: 7px;
    left: 4rem;
}

#edit-ob-address {
    position: absolute;
    top: 10px;
    right: -10px;
    color: gray;
}

/*
 * Custom CSS Comment:
 * order status starts from here
 */
.order-status {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 70%;
    transform: translateX(-50%);
    margin: 0 auto;
    min-height: 50px;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.order-status > button {
    padding: 5px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}

.order-status button:nth-child(1) {
    background: #1abc9c;
}

.order-status button:nth-child(2) {
    background: #9b59b6;
}

.order-status button:nth-child(3) {
    background: #34495e;
}

.order-status button:nth-child(4) {
    background: #e74c3c;
}

.order-status button:nth-child(5) {
    background: #e67e22;
}

.order-status button:nth-child(6) {
    background: #546de5;
}

.order-status button:nth-child(7) {
    background: #30336b;
}

.order-status button:nth-child(8) {
    background: #63cdda;
}

.order-status button:nth-child(9) {
    background: #FF6347;
}

.order-status button:nth-child(10) {
    background: #A0522D;
}

.order-status button:nth-child(11) {
    background: #008000;
}

.order-status button:nth-child(12) {
    background: #708090;
}


 /*
  * order status end hehe
  */

  /*
   * edit order here
   */

   .edit-order {
    display: none;
    width: 400px;
    background: white;
    box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.233);
    padding: 1rem;
    border-radius: 10px;
    z-index: 333;
   }

   .edit-order  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
   }

   .edit-order div input,textarea {
    width: 260px;
    padding: 5px 10px;
    resize: none;
   }

   .edit-order form label {
    font-size: 0.8rem;
    color: #222;
   }

   .eo-heading {
    text-align: center;
    font-size: 2rem;
    color: black;
    width: 100%;
   }

   .ed-cc-status {
    width: 260px;
    padding: 5px 10px;
   }

   .ed-change-btn {
    width: 120px;
    display: block;
    padding: 10px 10px;
    border: none;
    outline: none;
    color: white;
    background: #1abc9c;
    cursor: pointer;
   }


   /*
    * Custom CSS Comment:
    * print css starts from here
    */  

    .print-icon img {
        width: 35px;
        height: 40px;
        cursor: pointer;
    }

    /*
     * Custom CSS Comment:
     * edit icon here
     */

     .ed-img-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
     }

     .cancel-edit-page {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 2.5rem;
        cursor: pointer;
     }


/*
 * pagination start here
 */
.order-pagination {
    text-align: center;
    width: 1200px;
    height: 70px;
    padding: 1rem 2rem;
    position: relative;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}


.order-pagination ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.order-pagination ul li {
    width: 100px;
    padding: 1rem;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 2px 2px rgba(128, 128, 128, 0.233);
    transition: all 500ms;
    font-size: 1.2rem;
}
.order-pagination ul li:hover {
    transform: translateY(-15px);
    background: #1E003D;
    color: white;
}
